@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300');
html, body {
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
    font-size: 30px;
    overflow-x: hidden;
    color: #f3f6fb !important;
}
body{
    background-color: #f3f6fb !important;
}
.header, .footer {
    background-color:rgb(70, 85, 109);
}
.header{
	padding: 30px;
}
img {
    width: 300px;
}

h1,h2 ,h3,h4{
	font-size: 9vh !important;
	font-family: 'Anton', sans-serif !important;
    transform-style: preserve-3d;
    transform: translateZ(200px);
}
h2{
	font-size: 50px !important;
}
h3{
	font-size: 30px !important;

}
h4{
	font-size: 20px !important;
}

a{
	font-size: 20px !important;
	color:  #fff !important;
}

.signup-form{
	margin: 100px;
	margin-bottom: 10px;
	border-top: 20px solid #46556d;
}

.input-group > input{
	padding: 20px;
	border: none;
	border-radius: 0;
	border-left: 20px solid #46556d;
	border-right: 20px solid #46556d;

}

input[type="textarea"]{
	width: 100%;
}
input[type="submit"]{
	color: white;
	padding-bottom: 40px;
    background-color:rgb(70, 85, 109);
}

.g-recaptcha{
	margin: 30px;
}