@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300');
html, body {
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
    font-size: 30px;
    overflow-x: hidden;
}
body{
    background-color: #f3f6fb !important;
    transform-style: preserve-3d;
    display: flex;
}
.text{
    color: #705353;
    transform-style: preserve-3d;
    border-radius: 50%;
    margin: 0 auto;
}
.title{
    transform: translateZ(0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    padding: 30px;
    margin: auto;
    padding-top: 30vh;
}

header {
	padding-top: 15vh;
    position: absolute;
    background-image: linear-gradient(45deg, rgba(100, 132, 132, 0.8) 0%, rgba(150, 111, 130, 0.8) 100%);
    height: 100%;
    width: 100%;
    margin: 0;
}

#logo  {
    width: 50vh;
    padding: 20px;
}

h1,h2,h4,a {
	font-size: 9vh !important;
	font-family: 'Anton', sans-serif !important;
    transform-style: preserve-3d;
    transform: translateZ(200px);
}
h2{
	font-size: 50px !important;
}

a{
	font-size: 10px !important;
}

.signup-form{
	margin-top: 200px;
}

.input-group > input{
	padding: 20px;
	border: none;
	border-radius: 0;
	border-left: 20px solid #705353;
	border-right: 20px solid #705353;

}

input[type="textarea"]{
	width: 100%;
}