@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Source+Sans+Pro:200,300,400,600,700');
html, body {
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
	overflow: hidden;
    background-image: url("bg2.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 30px;
    color: #DAECF3 !important;
}

#left, #right, #top, #bottom{
	position: fixed;
    background:  linear-gradient(#ffc3ca, #b397b8, #8a86be);
    margin: 30px;
    z-index: 1002;
}

#left, #right{
	top:0;
	bottom: 0;
	width: 10px;
}

#left{
	left:0;
}

#right{
	right:0;
	background:  linear-gradient( #8a86be, #b397b8, #ffc3ca);
}

#top, #bottom{
	left: 0;
	right: 0;
	height: 10px;
	background:  linear-gradient(to right, #ffc3ca, #b397b8, #8a86be);
}

#top{
	top: 0;
}

#bottom{
	bottom: 0;
	background:  linear-gradient(to left, #ffc3ca, #b397b8, #8a86be);
}

@media only screen and (max-width: 1000px){
	.border{
		opacity: 0;
	}
	.reg_test{
		font-size: 5vh !important;
	}
}

header {
	padding-top: 15vh;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}

#logo  {
    width: 50vh;
    padding: 20px;
}

.reg_test {
	font-size: 7.5vh !important;
	font-family: 'Lato', sans-serif !important;
	font-weight: 900 !important;
	color: #fff !important;
}

h2 {
	font-size: 6vh !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bold;
}

.heading{
 	background:  #012D41;
 	opacity: 0.9;
 	width: auto;
 	padding: 20px;
}

.link{
	background-color: #FF404E;
}

a {
    color: #DAECF3 !important;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    font-size: 3.5vh;
		font-weight: 200 !important;
}

a:hover{
	color: rgba(255, 255, 255, 1) !important;
	text-decoration: none !important;
}

.input-group {
	display: table-row;
}

.shadow{
	-webkit-box-shadow: 14px 9px 18px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 14px 9px 18px 0px rgba(0,0,0,0.21);
	box-shadow: 14px 9px 18px 0px rgba(0,0,0,0.21);
}
