@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300');
html, body {
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
	overflow: hidden;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 30px;
    color: #fff !important;
}

#left, #right, #top, #bottom{
	position: fixed;
    background:  linear-gradient(#ffc3ca, #b397b8, #8a86be);
    margin: 30px;
    z-index: 1002;
}

#left, #right{
	top:0;
	bottom: 0;
	width: 10px;
}

#left{
	left:0;
}

#right{
	right:0;
	background:  linear-gradient( #8a86be, #b397b8, #ffc3ca);
}

#top, #bottom{
	left: 0;
	right: 0;
	height: 10px;
	background:  linear-gradient(to right, #ffc3ca, #b397b8, #8a86be);
}

#top{
	top: 0;
}

#bottom{
	bottom: 0;
	background:  linear-gradient(to left, #ffc3ca, #b397b8, #8a86be);
}

@media only screen and (max-width: 1000px){
	.border{
		opacity: 0;
	}
	h1{
		font-size: 5vh !important;
	}
}

header {
	padding-top: 15vh;
    position: absolute;
    background-image: linear-gradient(45deg, rgba(100, 132, 132, 0.8) 0%, rgba(150, 111, 130, 0.8) 100%);
    height: 100%;
    width: 100%;
    margin: 0;
}

#logo  {
    width: 50vh;
    padding: 20px;
}

h1 {
	font-size: 9vh !important;
	font-family: 'Anton', sans-serif !important;
}

h2 {
	font-size: 7vh !important;
	font-family: 'Anton', sans-serif !important;
	font-weight: bold;
}

.heading{
 	background:  linear-gradient(to right, #ddb8bc, #9d8aa0, #79769b);
 	opacity: 0.9;
 	width: auto;
 	padding: 20px;
}

.link{
	background-color: #535070;
}

a {
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-size: 4vh;
}

a:hover{
	color: rgba(255, 255, 255, 1) !important;
	text-decoration: none !important;	
}

.input-group {
	display: table-row; 
}